html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 772px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    figure {
        border-radius: 50%; /* Circular figures */
    }

    figure:last-child {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    figure {
        border-radius: 0; /* Remove border radius */
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto; /* Remove smooth scrolling */
    }
}

@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333; /* Dark background */
        color: #ff0; /* Light yellow font */
        border-color: black; /* Black border */
    }
}
